/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

storage/env/env
composer.phar
npm-debug.log
.vagrant
.phpintel
www.pid
.DS_Store
vagrant-settings.yml

app/version.tmp