APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString
APP_URL=http://localhost
APP_LOG=errorlog

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=Nasta_Submissions
DB_USERNAME=root
DB_PASSWORD=nastaSubLocal

ENCODE_DB_DATABASE=Nasta_Submissions
ENCODE_DB_USERNAME=root
ENCODE_DB_PASSWORD=nastaSubLocal
ENCODE_DB_HOST=db
ENCODE_DB_PORT=3306

CACHE_DRIVER=array
SESSION_DRIVER=file
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

DROPBOX_CLIENT_ID=
DROPBOX_CLIENT_SECRET=

MAIL_FROM_ADDRESS=submissions@nasta.tv
MAIL_ADMIN=webmaster@example.com
#LOCAL_ENTRY_DIR=
