$baseline: 8px;

// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #0EA5DA;
$brand-secondary: #D4AF34;
$brand-info: #105263;
$brand-success: #00A651;
$brand-warning: #F7941E;
$brand-danger: #CF5252;

// Typography
$font-family-sans-serif: kayak-sans-light, sans-serif;
$font-size-base: 17px;
$line-height-base: 1.6;
$text-color: #2E2F2F;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Box Shadow
$box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);