.card-container {
    display: block;
    padding: 0 24px;
}

.card {
    height: 100%;
    width: 100%;
    
    & a {
        padding: $baseline * 2;
        height: $baseline * 36;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-decoration: none;
        text-align: center;
        position: relative;
        color: #fff;
        font-size: 30px;
    }

    &:first-child {
        background: $brand-primary;

        &:hover,
        :focus,
        :active {
            background: darken( $brand-primary, 2% );
        }

        & a,
        a:hover,
        a:focus,
        a:active {
            background: url(/images/icons/ic_description_white_24px.svg) center center no-repeat;
            background-size: 50% 50%;
            background-position: 50% 25%;
        }
    }

    &:nth-child(2) {
        background: $brand-success;

        &:hover,
        :focus,
        :active {
            background: darken( $brand-success, 2% );
        }

        & a,
        a:hover,
        a:focus,
        a:active {
            background: url(/images/icons/ic_video_library_white_24px.svg) center center no-repeat;
            background-size: 50% 50%;
            background-position: 50% 25%;
        }
    }

    &:last-child {
        background: $brand-secondary;

        &:hover,
        :focus,
        :active {
            background: darken( $brand-secondary, 2% );
        }
        
        & a {
            background: url(/images/icons/ic_assessment_white_24px.svg) center center no-repeat;
            background-size: 50% 50%;
            background-position: 50% 25%;
        }
    }
}

@media (min-width: 600px) {
    .card-container {
        display: flex;
    }
}  